/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/hide/
/src/AppBundle/Command/*settings.php
/src/AppBundle/Command/*.crt
/src/AppBundle/Command/Cached-Urls-for-Testing-Commands/ali-feedback-frame.js
